@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(115, 189, 194);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(74, 170, 177);
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Solway", serif;
}

.container {
  display: grid;
  width: 100vw;
  grid-template-areas: "sidebar main main";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.sidebar {
  overflow-y: auto;
  height: 100%;
  background-color: rgb(15, 94, 99);
  color: white;
  position: fixed;
  grid-area: sidebar;
  width: calc(33.3 / 100 * 100%);
  display: inherit;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 3px;
}

img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 3px 25px 0 rgb(87, 175, 181);
}

h1 {
  margin-bottom: 0;
  margin-top: -0.1em;
  font-size: 40px;
}

.role {
  margin-top: -2em;
  font-size: 20px;
  margin-bottom: -3em;
}

h4 {
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 20px;
}

.socialLinks {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: -1em;
}

.socialLinks a.social {
  color: #fff;
  margin-left: 1.5em;
}

/* .sidebarLinks {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
  width: 100%;
} */

.sidebarLink {
  text-decoration: none;
  padding: 15px 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.3);
}

.sidebarLink:not(last-child) {
  margin-top: 10px;
}

.main {
  grid-area: main;
  width: 95%;
  padding: 40px 0 0 40px;
  display: inherit;
  line-height: 2.5em;
  word-wrap: break-word;
  overflow-x: hidden;
}

h2 {
  font-size: 40px;
  text-shadow: 4px 8px 0 #eee;
  color: rgba(15, 94, 99, 0.7);
}

.stacks {
  list-style-type: none;
  padding-left: 0;
}

.stacks li {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  border: 3px dotted rgb(72, 178, 184);
  color: rgb(72, 178, 184);
  margin-right: 0.5em;
}

.stacks li:hover {
  background-color: rgb(72, 178, 184);
  color: white;
}

footer {
  background-color: rgb(15, 94, 99);
  color: #fff;
  padding: 15px 10px;
  text-align: right;
  display: block;
  position: relative;
}

#work .work-item {
  border: 2px solid rgb(15, 94, 99);
  color: rgb(15, 94, 99);
  height: 150px;
  overflow: hidden;
  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16pt;
}

#work .work-item:hover {
  cursor: pointer;
  background-color: rgb(15, 94, 99);
  color: #fff;
  transition: background-color 0.7s, color 0.7s;
}

p.descriptionText {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
}

/* Mobile Responsiveness */
@media screen and (max-width: 425px) {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    width: 100vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "main";
  }

  .sidebar {
    height: 300px;
    background-color: rgb(15, 94, 99);
    color: white;
    grid-area: sidebar;
    width: 100%;
    display: inherit;
    position: initial;
    padding-bottom: 65px;
  }

  img {
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: 245px;
    left: 35%;
    box-shadow: 0 3px 25px 0 rgb(87, 175, 181);
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0.5em;
    font-size: 30px;
  }

  .role {
    margin-top: -2em;
    font-size: 15px;
    margin-bottom: -3em;
  }

  h4 {
    margin-top: 2em;
    margin-bottom: 0.4em;
    font-size: 20px;
  }

  .socialLinks {
    margin-top: 5px;
  }

  .sidebarLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
  }

  .sidebarLink {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: rgb(15, 94, 99);
    width: 55px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
  }

  .sidebarLink:not(last-child) {
    margin-right: 10px;
  }

  .main {
    grid-area: main;
    width: 90%;
    padding: 80px 20px 50px 20px;
    display: block;
    line-height: 2.5em;
  }

  p.descriptionText {
    font-size: 18px;
  }

  #work {
    display: block;
    margin-left: 62px;
  }

  #work .work-item {
    margin-left: 20px;
    border: 2px solid rgb(15, 94, 99);
    color: rgb(15, 94, 99);
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16pt;
  }

  #work .work-item:hover {
    cursor: pointer;
    background-color: rgb(15, 94, 99);
    color: #fff;
    transition: background-color 0.7s, color 0.7s;
  }

  .stacks li {
    display: inline;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    border: 2px dotted rgb(72, 178, 184);
    color: rgb(72, 178, 184);
  }

  .stacks li:not(last-child) {
    margin-right: 0.5em;
  }

  footer {
    text-align: center;
    position: initial;
  }
}

 @media screen and (max-width: 320px) {
  #work {
    display: block;
    margin-left: 22px;
  }

  @media screen and (max-width: 375px) {
  #work {
    display: block;
    margin-left: 18px;
  }

/* Tablet Responsiveness */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: grid;
    width: 100vw;
    grid-template-areas: "sidebar main main";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .sidebar {
    height: 100%;
    background-color: rgb(15, 94, 99);
    color: white;
    position: fixed;
    grid-area: sidebar;
    width: calc(33.3 / 100 * 100%);
    display: inherit;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 3px;
  }

  img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 3px 25px 0 rgb(87, 175, 181);
  }

  h1 {
    margin-bottom: 0;
    margin-top: -0.1em;
    font-size: 30px;
    text-align: center;
  }

  .role {
    margin-top: -2em;
    font-size: 18px;
    margin-bottom: -3em;
  }

  h4 {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 20px;
  }

  .socialLinks {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -1em;
  }

  .socialLinks a.social {
    color: #fff;
    margin-left: 1.5em;
  }

  .sidebarLink {
    text-decoration: none;
    padding: 15px 50px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.3);
  }

  .sidebarLink:not(last-child) {
    margin-top: 10px;
  }

  .main {
    grid-area: main;
    width: 95%;
    padding: 40px 0 0 40px;
    display: inherit;
    line-height: 2.5em;
    word-wrap: break-word;
    overflow-x: hidden;
  }

  h2 {
    font-size: 35px;
    text-shadow: 4px 8px 0 #eee;
    color: rgba(15, 94, 99, 0.7);
  }

  .stacks {
    list-style-type: none;
    padding-left: 0;
  }

  .stacks li {
    display: inline-block;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    border: 3px dotted rgb(72, 178, 184);
    color: rgb(72, 178, 184);
    margin-right: 0.5em;
    margin-bottom: 10px;
  }

  .stacks li:hover {
    background-color: rgb(72, 178, 184);
    color: white;
  }

  footer {
    background-color: rgb(15, 94, 99);
    color: #fff;
    padding: 15px 10px;
    text-align: right;
    display: block;
    position: relative;
  }

  #work .work-item {
    border: 2px solid rgb(15, 94, 99);
    color: rgb(15, 94, 99);
    height: 150px;
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16pt;
  }

  #work .work-item:hover {
    cursor: pointer;
    background-color: rgb(15, 94, 99);
    color: #fff;
    transition: background-color 0.7s, color 0.7s;
  }

  p.descriptionText {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
  }
}
